{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.publisher_details'|trans({'%id%': publisher.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
    <h1>{{ 'title.publisher_details'|trans({'%id%': publisher.id|default('')}) }}</h1>
    {% if publisher is defined and publisher|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ publisher.id }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  publisher.publisherTitle }}</dd>
        </dl>
        <p>
            <a href="{{ url('publisher_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
    </div>
    </div>
    {%  include 'footer.html.twig' %}
{% endblock %}