{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.reservation_list'|trans }}
{% endblock %}

{% block body %}
    <body>
    <div class="container">
        <div class="row">
            <h1>{{ 'title.reservation_list'|trans }}</h1>
            {% if pagination is defined and pagination.items|length %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        {{ knp_pagination_sortable(pagination, 'label.id'|trans, 'reservation.id') }}</th>
                        <th style="width: 15%">{{ knp_pagination_sortable(pagination, 'label.email'|trans, 'reservation.email') }}</th>
                        <th style="width: 15%">{{ knp_pagination_sortable(pagination, 'label.nick'|trans, 'reservation.nick') }}</th>
                        <th style="width: 30%">{{ knp_pagination_sortable(pagination, 'label.note'|trans, 'reservation.note') }}</th>
                        <th style="width: 10%">{{ knp_pagination_sortable(pagination, 'label.book.id'|trans, 'book.id') }}</th>
                        <th class="text-center" style="width: 20%">{{ 'action.show'|trans }}</th>
                        <th class="text-center" style="width: 20%">{{ 'action.show'|trans }}</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in pagination.items %}
                        <tr>
                            <td>{{ reservation.id }}</td>
                            <td>{{ reservation.email }}</td>
                            <td>{{ reservation.nick }}</td>
                            <td>{{ reservation.note }}</td>
                            <td>{{ reservation.book.id }}</td>
                            <td class="text-center">
                                <a class="btn btn-outline-primary me-2" href="{{ url('reservation_show', {id: reservation.id}) }}" title="{{ 'action.show'|trans }}">
                                    {{ 'action.show'|trans }}
                                </a>
                                <a class="btn btn-outline-danger" href="{{ url('reservation_delete', {id: reservation.id}) }}" title="{{ 'action.delete'|trans }}">
                                    {{ 'action.delete'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% include 'default/_single_alert_message.html.twig' with {
                    type: 'warning',
                    message: 'message.record_not_found'|trans
                } %}
            {% endif %}
        </div>

        <div class="row">
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
    </body>
    {%  include 'footer.html.twig' %}
{% endblock %}