{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.details'|trans }}
{% endblock %}

{% block body %}
    <body>
    <div class="container">
        <div class="row">
            <h1>{{ 'title.reservation_details'|trans }}</h1>
            {% if reservation is defined and reservation|length %}
                <dl class="dl-horizontal">
                    <dt>{{ 'label.id'|trans }}</dt>
                    <dd>{{ reservation.id }}</dd>
                    <dt>{{ 'label.email'|trans }}</dt>
                    <dd>{{  reservation.email }}</dd>
                    <dt>{{ 'label.nick'|trans }}</dt>
                    <dd>{{ reservation.nick }}</dd>
                    <dt>{{ 'label.note'|trans }}</dt>
                    <dd>{{ reservation.note }}</dd>
                    <dt>{{ 'label.book.id'|trans }}</dt>
                    <dd>{{ reservation.book.id }}</dd>
                        <td>
                            <a href="{{ url('reservation_index', {id: reservation.id}) }}" title="{{'action.back_to_list'|trans}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">{{ 'action.back_to_list' | trans }}</a>
                        </td>

                    </dd>
                </dl>
            {% else %}
                {% include 'default/_single_alert_message.html.twig' with {
                    type: 'warning',
                    message: 'message.record_not_found'|trans
                } %}
            {% endif %}
        </div>
    </div>
    </body>
    {%  include 'footer.html.twig' %}
{% endblock %}