<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home_index') }}">{{ 'title.home' | trans}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('book_index') }}">{{ 'title.book_list' | trans}}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ 'title.catalog' | trans }}
                    </a>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('genre_index') }}">{{ 'title.genre_list' | trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('publisher_index') }}">{{ 'title.publisher_list' | trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('creator_index') }}">{{ 'title.creator_list' | trans}}</a></li>
                        <li><a class="dropdown-item" href="{{ path('user_index') }}">{{ 'title.user_list' | trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('reservation_index') }}">{{ 'title.reservation_list' | trans}}</a></li>
                    </ul>
                    {% endif %}

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('contact_index') }}">{{ 'title.contact' | trans }}</a>
                </li>
                </li>

            </ul>
            <form class="d-flex" role="search">
                <a href="{{ url('app_login')}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">{{ 'action.login' | trans }}</a>
                <a href="{{ url('app_logout')}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">{{ 'action.logout' | trans }}</a>
                <input class="form-control me-2" type="search" placeholder="hello bookworm..." aria-label="Search">
            </form>
        </div>
    </div>
</nav>